<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="selenium">
    <groups>
        <run>
            <include name="regression"/>
        </run>
    </groups>
    <parameter name="browser" value="chrome"/>
    <test name="regression">
        <classes>
            <class name="org.selenium.amazon.homepage.AmazonHomeTest"/>
        </classes>
    </test>
</suite>