<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="selenium">
    <groups>
        <run>
            <include name="sanity"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="org.selenium.amazon.report.listener.TestListener"/>
    </listeners>
    <test name="amazon">
        <classes>
            <class name="org.selenium.amazon.homepage.AmazonHomeTest"/>
        </classes>
    </test>

    <test name="hyrtutorials">
        <classes>
            <class name="org.selenium.hyrtutorials.frames.HyrTutorialsTest"/>
        </classes>
    </test>
</suite>